<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/masinko-logo-purp.png">
    <link rel="stylesheet" href="/css/bg.css">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="icon" href="/images/masinko-logo-purp.png">
    <link rel="stylesheet" href="/css/albumpage-modal.css">
    <link rel="stylesheet" href="/css/bg.css">
    <title>Masinqo | Album page</title>
</head>

<body class="bg-black font-sans">
    <header class="py-2 px-5">
        <nav class=" flex justify-between items-center">
            <div class="flex items-center ">
                <img style="width: 50px;" src="/images/masinko-logo-white.png" alt="logo" class="w-[50px]">
                <a href="#" class="text-white text-lg font-semibold hidden sm:block">Masinqo</a>
            </div>
            <ul class="flex space-x-4 pr-4">
                <div class="flex items-center gap-1 md:gap-2" id="toHome">
                    <img src="/images/home.svg" alt="" class="h-5 w-5 hidden sm:block">
                    <li><a href="#" class="text-white hover:text-blue-200">Home</a></li>
                </div>
                <div class="flex items-center gap-1 md:gap-2 addIcon">
                    <img src="/images/add.svg" alt="" class="h-7 w-7  hidden sm:block">
                    <li><a href="#" class="text-white hover:text-blue-200">Add Music</a></li>
                </div>
                <div class="flex items-center gap-1 md:gap-2" id="toLogout">
                    <img src="/images/logout.svg" alt="" class="h-5 w-5  hidden sm:block">
                    <li><a href="#" class="text-white hover:text-blue-200">Log Out</a></li>
                </div>
            </ul>
        </nav>
    </header>

    <main class="flex-col items-center min-h-screen">
        <div id="artistProfile" class="container mx-auto mb-6 flex items-center gap-6 py-2 px-5">
            <img src="/images/artistPlaceholder.png" alt="artist profile rounded"
                class="text-white rounded-full shadow border-2 border-purple-400 h-28"
                style="box-shadow: 0px 4px 25px 0px rgba(103, 215, 250, 0.25);">
            <p class="text-white font-extralight text-5xl sm:text-6xl">{{artistName}}</p>
        </div>
        <div id="AlbumDetail" class="flex flex-col md:flex-row justify-center items-center pl-4 sm:pl-20 w-full">
            <div class="w-11/12 md:w-2/5 flex justify-center pr-2 sm:pr-6">
                <div class="relative">
                    {{!-- <img id="albumArt" src="/images/albumPlaceholder.png" alt="Album Art " class="w-80"> --}}
                    <img id="albumArt" src="{{albumArt}}" alt="Album Art"
                        class="w-52 h-52 md:w-80 md:h-80 md:mx-5 rounded-lg shadow-lg">
                </div>
            </div>
            <div class="flex flex-col md:w-3/6 text-center md:text-left mt-2 md:pl-3">
                <p id="albumName" class="text-4xl">{{albumTitle}}</p>
                <p>Released on <span id="albumDate">{{albumDate}}</span></p>
                <p>Number of Tracks: <span id="trackNumber">{{trackNumber}}</span></p>
                <p>Genre: <span id="genre"></span>{{genre}}</p>
                <p><span id="description" class="italic">{{description}}</span></p>
                <div class="flex justify-between mt-3 w-full sm:w-4/5 lg:w-3/5">
                    <div class="bg-zinc-300 bg-opacity-0 rounded-[10px] border-2 border-teal-300 flex justify-between items-center gap-2 px-4 py-1 hover:bg-neutral-900 hover:border-indigo-400 cursor-pointer"
                        id="editIcon">
                        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="h-5 w-5">
                            <path d="M23.6667 2L32 10.3333L10.3333 32H2V23.6667L23.6667 2Z" stroke="#75E1DA"
                                stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <p>Edit Album </p>
                    </div>
                    <div class="bg-zinc-300 bg-opacity-0 rounded-[10px] border-2 border-teal-300 flex justify-between items-center gap-2 px-4 py-1  hover:bg-neutral-900 hover:border-indigo-400 cursor-pointer addIcon"
                        id="addSongBtn">
                        <img src="/images/add.svg" alt="" class="h-7 w-7">
                        <p>Add Song </p>
                    </div>
                </div>
            </div>
        </div>
        <div class=" my-5 container mx-auto px-8 flex flex-col">
            {{!-- TRACKS --}}
            <div class="flex flex-col gap-5" id="tracks">
            </div>
        </div>
    </main>
    <footer class="h-10 bg-violet-950 flex justify-center items-center text-lg text-slate-50 py-2">
        <div>Copyright &copy; Masinqo 2024</div>
    </footer>

    {{!-- ADD ALBUM MODAL --}}
    <div class="bg-black bg-opacity-75 absolute h-screen w-screen hidden text-slate-50" id="modalContainer">
        <div class="h-full w-full opacity-0 -z-10 " id="modalBackground"></div>
        <div
            class="bg-gray-950 w-9/12 max-w-md h-min absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 flex flex-col items-center py-6 border border-fuchsia-600 rounded-lg">
            <div class="flex items-center gap-3">
                <img src="/images/pencil-purp.svg" alt="" class="w-10 h-10">
                <p class="text-3xl">Add song</p>
            </div>
            <form class="flex flex-col gap-3 my-4 w-8/12 text-white" id="addSongForm">
                <div class="flex flex-col">
                </div>
                <div class="flex flex-col">
                    <label for="albumName" class="text-lg mb-1 text-white">Name</label>
                    <input type="text" name="name" class="bg-slate-900 py-1 px-2 outline-none rounded-md"
                        id="songNameEl">
                </div>
                <div class="flex flex-col">
                    <label for="cover" class="text-lg mb-1">Song File</label>
                    <input type="file" name="song" class="text-center" id="fileEl">
                </div>
                <button
                    class="bg-fuchsia-800 border-2 border-fuchsia-800 px-4 pb-2 pt-1 w-min mt-6 mx-auto rounded-3xl hover:bg-transparent hover:text-fuchsia-500 hover:transition-colors transition-colors"
                    type="submit" id="add">
                    Add
                </button>
            </form>
        </div>
    </div>

    <div class="bg-black bg-opacity-75 absolute top-0 left-0 min-h-screen w-screen text-slate-50 p-20"
        id="modalContainer2">
        <div class="h-screen w-full opacity-0 -z-10 " id="modalBackground2"></div>
        <div
            class="bg-gray-950 w-9/12 max-w-lg h-min absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 flex flex-col items-center py-8 border border-teal-500 rounded-lg">
            <div class="flex items-center gap-3">
                <img src="/images/pencil.svg" alt="" class="w-10 h-10">
                <p class="text-3xl">Edit Album</p>
            </div>
            <form action="" class="flex flex-col gap-3 my-4 w-8/12 text-white" enctype="multipart/form-data"
                id="editAlbumForm">
                <p class="italic text-center text-white font-semibold">*Leave unchanged fields empty.</p>
                <div class="flex flex-col">
                    <label for="albumName" class="text-lg mb-1 text-white">Album Name</label>
                    <input type="text" name="title" class="bg-slate-900 py-1 px-2 outline-none rounded-md">
                </div>
                <div class="flex flex-col">
                    <label for="genre" class="text-lg mb-1">Genre</label>
                    <input type="text" name="genre" class="bg-slate-900 py-1 px-2 outline-none rounded-md">
                </div>
                <div class="flex flex-col">
                    <label for="description" class="text-lg mb-1">Description</label>
                    <textarea name="description" rows="3"
                        class="bg-slate-900 py-1 px-2 outline-none rounded-md"> </textarea>
                </div>
            </form>
            <button
                class="bg-teal-500 border-2 border-teal-500 px-4 py-2 w-min mt-6 mx-auto rounded-3xl hover:bg-transparent hover:text-teal-500"
                id="saveButton" type="submit">
                Save
            </button>
        </div>
    </div>


    <script src="/ts/albumPageModal.js"></script>
    <script src="/ts/albumPage.js"></script>
    <script src="/ts/addSong.js"></script>
    <script src="/ts/editAlbum.js"></script>

</body>

</html>